.caption h3 {
	text-shadow:1px 1px 3px rgb(0,0,0,0.5);
}
.tagline {
	text-align:center !important;
	text-shadow:1px 1px 3px rgb(0,0,0,0.5);
}
.parallax-container {
	display:flex;
	align-items:center;
	height:300px;
	text-shadow:1px 1px 3px rgb(0,0,0,0.5);
}
.parallax-container h4 {
	text-align:center !important;
	color:#fff;
}
.card-title {
	text-shadow:1px 1px 3px rgb(0,0,0,0.5);
	font-weight:500 !important;
}
.footer-copyright {
	text-align:center;
}
