body {
	background-color:#CEB8E1 !important;
}

.caption h3 {
	text-shadow:1px 1px 3px rgb(0,0,0,0.5);
}
.caption p{
	text-shadow:1px 1px 3px rgb(0,0,0,0.5);
}
.slides ul li .tagline {
	text-align:center !important;
	text-shadow:1px 1px 3px rgb(0,0,0,0.5);
}
#deskripsi {
	border:dashed 2px #fff;
}
hr {
	width:85%;
	border:solid 1px #fff;
}
.parallax-container {
	height:230px;
}
.price {
	display:inline-block !important;
}